### Project ##
!**/src/main/**
!**/src/test/**

### Maven ###
!.mvn/wrapper/maven-wrapper.jar
target/
.flattened-pom.xml
dependency-reduced-pom.xml

### IntelliJ IDEA ###
!.idea/codeStyles/Project.xml
!.idea/jsonSchemas.xml
.idea/
*.iws
*.iml
*.ipr

### Scala SBT
.bsp

### log files ###
*.log
hs_err_pid*

/authentication.puml
/diagramma_classov.puml
/password-change.puml
/password-change1.puml
/password-change2.puml
/registration.puml
/ГПТ.puml
/диаграмма_понятий.puml
/компоненты.puml
/последовательность1.puml
/последовательность3.puml
/последовательность5.puml
/последовательность6.puml
/последовательность7.puml
/последовательность8.puml
/последовательность8_1.puml
/последовательность8_2.puml
/последовательность8_3.puml
/последовательность9.puml
/последовательность10_1.puml
/последовательность10_2.puml
/последовательность10_3.puml
/последовательность10_4.puml
/последовательность11_1.puml
/последовательность11_2.puml
/последовательнось10.puml
